*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: rgb(73, 73, 73);
}

.nav__list{
    font-size: 0.9em;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav__link:hover{
    color: whitesmoke !important;
}

.hero__section{
    background-color: rgba(29, 28, 30, 0.51);
    background-image: url(/img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
}

.section__sub{
    font-weight: 100;
    font-size: 0.8em;
}

.badge__resize{
    font-size: 0.5em;
}

.card__text{
    font-size: 0.8em;
}

.h__card{
    background-color: rgb(73, 73, 73);
}

.hcard__text{
    font-size: 0.7em;
}

.footer__nav{
    background-color: #005F73;
}

.footer__list{
    list-style: none;
}

.footer__item{
    text-decoration: none;
}

.button__lightB{
    background-color: rgb(117, 184, 213);
    color: rgb(25, 25, 174);
}

.button__green{
    background-color: rgba(110, 165, 26, 0.826);
}

.width100{
    width: 100%;
}

.width49{
    width: 49%;
}

.width30{
    max-width: 32%;
    margin: 2px;
}

@media screen and (max-width: 768px) {
    .width30{
        max-width: none;
    }
    
}