*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    height: auto;
    background-color: rgb(73, 73, 73);
}

.nav__list{
    text-align: center;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.hero__section{
    height: 98vh;
    background-color: rgba(29, 28, 30, 0.51);
    background-image: url(/img/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: center;
}